## USING AWS

# AWS_REGION=us-east-1
# AWS_SNS_ARN=arn:aws:sns:us-east-1:123412341234:ServicesSystemBus-test
# QUEUE_NAME=testSub
# QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123412341234/testNotificationsQueue
# SNS_COMMAND_NAME=Notify

## LOCALLY USING REDIS (DEVELOPMENT ONLY)

# AWS_REGION=us-east-1
# AWS_SNS_ARN=
# QUEUE_NAME=testSub
# QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123412341234/TestCommand
# SNS_COMMAND_NAME=TestCommand
# REDIS_URL=redis://127.0.0.1:6379
# MSGBUS_REDIS_MOCK=true
